.header,
.main,
.footer {
  width: 50vw;
  margin: 0 auto;
}

.header {
  padding: 1.2rem;
  background-color: black;
  color: white;
  text-align: center;
}

.main {
  margin: 20px auto;
  display: flex;
  gap: 5px;
  background-color: #bbb;
}

.aside {
  flex: 1;
  padding: 5px;
}

.footer {
  background-color: black;
  color: white;
  text-align: center;
  padding: 0.8rem;
}
