.header,
.main,
.footer {
  width: 50vw;
  margin: 0 auto;
}

.header {
  padding: 1.2rem;
  background-color: black;
  color: white;
  text-align: center;
}

.main {
  /*
  .main box 에 포함된 컨텐츠의 높이만큼 .main box 의 
  높이를 자동 조절하라
  .main box 에 포함된 컨텐츠의 height를 % 로 지정하면
  문제가 발생할수 있다
  */
  height: auto;
  margin: 10px auto;
  display: flex;
  gap: 5px;
  justify-content: center;
  align-items: center;
  background-color: #bbb;
}

.aside {
  flex: 1;
  padding: 5px;
  height: 40vh;
  overflow: auto;
}

.footer {
  background-color: black;
  color: white;
  text-align: center;
  padding: 0.8rem;
}
