ul.todoList {
  list-style-type: none;
  margin: 8px;
}

ul.todoList .todoItem {
  padding: 12px 16px;
  border-top: 1px solid #ddd;
  display: flex;

  .date {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #888;
    font-size: 8px;
  }
  span.content {
    flex: 1;
    font-size: 1.2rem;
    text-align: left;
    margin-left: 15px;

    &.complete {
      text-decoration: line-through;
      text-decoration-color: blue;
      color: #999;
    }
  }

  div.complete {
    font-size: 20px;
    font-weight: 800;
    color: #777;
    opacity: 0;
    transition: 0.9s;
  }

  &:hover {
    cursor: pointer;
  }

  /*
  li.todoItem 라인에 마우스가 hover 되면 check 표시가 나타나기
  */
  &:hover div.complete {
    opacity: 1;
  }

  &:last-of-type {
    border-bottom: 1px solid #ddd;
  }
}
