* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
header.main {
  padding: 1.2rem;
  background-color: greenyellow;
  color: white;
  text-align: center;
  text-shadow: 1px 1px 1px black;
}
.App {
  width: 100%;
  text-align: center;
}
